<% provide(:title, @user.name) %>

<div class="container"></div>
  <h1>プロフィール</h1>
  <div class="row">
    <div class="col-md-６ col-md-offset-３">
      <table class="table table-bordered" id="table-user">
        <tbody>
          <tr>
            <th class="active col-md-3">ID</th>
            <td class="col-md-9"><%= @user.id %></td>
          </tr>
          <tr>
            <th class="active">名前</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th class="active">メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th class="active">作成日</th>
            <td><%= @user.created_at %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>    
</div>
